body {
  margin: 20px;
  padding: 0;
  font-family: "Times New Roman", Serif;
  background-color: #CCC;
}

.RomanNumeralConverter {

}

.ConversionArea {
    background-color: #FFF;
    color: #333;
    font-size: 28px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.ConversionArea h1 {
    font-size: 30px;
    font-family: sans-serif;
}

.ConversionAreaInput {
    width: 50%;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.ConversionAreaOutput {
    height: 80px;
    margin: 20px;
    padding: 15px;
}